* {
  border: 1px black solid;
}

header {
  height: 1vh;
}

main {
  background-image: url("/home-cover.jpg");
  background-position: center;
  repeat: no-repeat;
}

#header {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 80px;
  grid-auto-flow: dense;
}

li:nth-child(1) {
  flex: 1;
}

li:nth-child(2) {
  flex: 1;
}

li:nth-child(3) {
  flex: 1;
}

li:nth-child(4) {
  flex: 1;
}

#footer {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 80px;
  grid-auto-flow: dense;
}

p {
  font-size: 2rem;
}
